<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-esim" version="0.0.1">
    <name>EsimPlugin</name>

    <description>An Android Cordova plugin that checks is esim is supported</description>
    <license>MIT</license>
    <repo>https://xueli_goh@bitbucket.org/xueli_goh/esim.git</repo>

    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>

    <js-module src="www/esimplugin.js" name="EsimPlugin">
        <merges target="window.plugins.esimplugin" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="EsimPlugin">
                <param name="android-package" value="com.dreamcloud.EsimPlugin"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="application">
            <service android:name=".EuiccServiceImpl" android:permission="android.permission.BIND_EUICC_SERVICE" android:exported="true">
                <intent-filter android:priority="100">
                    <action android:name="android.service.euicc.EuiccService" />
                </intent-filter>
            </service>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.WRITE_EMBEDDED_SUBSCRIPTIONS" />
        </config-file>
        <source-file src="src/android/EsimPlugin.java" target-dir="src/com/dreamcloud" />
    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="EsimPlugin">
                <param name="ios-package" value="EsimPlugin"/>
            </feature>
        </config-file>

        <config-file target="*-Info.plist" parent="CarrierDescriptors">
            <array>
                <dict>
                    <key>GID1</key>
                    <string></string>
                    <key>GID2</key>
                    <string></string>
                    <key>MCC</key>
                    <string>525</string>
                    <key>MNC</key>
                    <string>05</string>
                </dict>
            </array>
        </config-file>

        <config-file target="*-Info.plist" parent="com.apple.security.network.server">
            <true/>
        </config-file>

        <config-file target="*-Info.plist" parent="com.apple.security.network.client">
            <true/>
        </config-file>

        <config-file target="*-Info.plist" parent="com.apple.CommCenter.fine-grained">
            <array>
                <string>spi</string>
                <string>sim-authentication</string>
                <string>identity</string>
            </array>
        </config-file>

        <config-file target="*-Info.plist" parent="com.apple.wlan.authentication">
            <true />
        </config-file>

        <config-file target="*-Info.plist" parent="keychain-access-groups">
            <array>
                <string>apple</string>
                <string>com.apple.identities</string>
                <string>com.apple.certificates</string>
            </array>
        </config-file>

        <config-file target="*-Info.plist" parent="com.apple.private.system-keychain">
            <true />
        </config-file>

        <config-file target="*/Entitlements-Debug.plist" parent="com.apple.CommCenter.fine-grained">
            <array>
                <string>public-cellular-plan</string>
            </array>
        </config-file>

        <config-file target="*/Entitlements-Release.plist" parent="com.apple.CommCenter.fine-grained">
            <array>
                <string>public-cellular-plan</string>
            </array>
        </config-file>

        <source-file src="src/ios/EsimPlugin.h" />
        <source-file src="src/ios/EsimPlugin.m" />
    </platform>
</plugin>
